doctype html
html(lang='ru' ng-app='d4')
	head
		title {{title}}
		link(rel='stylesheet' href='css/vendor/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='css/style.css')
	body.page
		ng-view
		script(src='js/vendor/angular/angular.js')
		script(src='js/vendor/angular-route/angular-route.js')
		script(src='js/vendor/angularfire/dist/angularfire.js')
		script(src='js/vendor/firebase/firebase.js')
		script(src='js/d4.js')
		script(src='js/factories/firebaseFactory.js')
		script(src='js/factories/redirectFactory.js')
		script(src='js/controllers/contactsController.js')
		script(src='js/controllers/contactController.js')
